@charset "utf-8";
/* ============================================== */
/*                 GLOBAL STYLES                  */
/* ============================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-size: 14px; /* fallback for older browsers */
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #FDFDFD;
  min-height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
}

img,
embed,
object,
video {
  max-width: 100%;/* prevent overflow of container */
}

nav a,
button {
  min-height: 48px; /* ensure tap targets with min 48px x 48px */
  min-width: 48px;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #90C2E7;
	text-decoration: none;
}

a img {
	border: none 1px #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

.header {
  display: flex;
  flex-direction: column;
}

.main {
  background-color: #F3F3F3;
  min-height: 100%;
  width: 100%;
}

.footer {
  background-color: #444;
  color: #EEE;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 2.5em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/* ============================================== */
/*                   NAVIGATION                   */
/* ============================================== */
.header__nav {
  width: 100%;
  height: 5.715em; /* 80px */
  padding: 0.2em 1em;
  background-color: #252831;
  text-align: center;
  display: flex;
}

.header__brand {
  margin: auto;
}

.header__brand a {
  color: #FFF;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.breadcrumb {
  display: none;
}

/* ============================================== */
/*                       MAP                      */
/* ============================================== */
.location__map {
  height: 24em;
  width: 100%;
  background-color: #CCC;
}

/* ============================================== */
/*              RESTAURANT FILTERING              */
/* ============================================== */
.filter__options {
  width: 100%;
  padding: 0.3em;
  background-color: #145B8F;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter__heading {
  color: #FFF;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1;
  margin: 0.65em 0;
}

.filter__dropdowns {
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.filter__neighborhood,
.filter__cuisine {
  background-color: #FFF;
  border: 1px solid #FFF;
  font-family: inherit;
  font-size: 1.25em;
  height: 2.8em;
  letter-spacing: 0;
  margin: 0.2em 10vw;
  padding: 0 1em;
  align-self: stretch;
  text-align: center;
}

.filter__neighborhood:focus,
.filter__cuisine:focus {
  background-color: #E5F3FF;
}

.filter__cuisine {
  margin-bottom: 0.65em;
}

/* ============================================== */
/*               RESTAURANT LISTING               */
/* ============================================== */
.restaurants__list {
  background-color: #F3F3F3;
  list-style: outside none none;
  padding: 1.5em 0.5em;
  margin: 0 auto;

  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(19em, 22em));
  grid-auto-rows: 1fr; /* Make all rows same height */
  justify-content: center;
}

.restaurant__card {
  background-color: #FFF;
  border: 2px solid #CCC;
  border-radius: 10px;
  min-height: 100%;
  padding: 0 0 1.2em;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  overflow: hidden;
}

.restaurant__img {
  background-color: #CCC;
  display: block;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 9px 9px 0 0;
}

.restaurant__name {
  color: #A32C00;
  font-size: 1.4em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  text-transform: uppercase;
  margin: 0.8em 2em 0.2em;
  min-height: 3em;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant__neighborhood,
.restaurant__address {
  text-align: center;
  margin: 0 2em;
}

.restaurant__neighborhood {
  font-size: 1em;
  font-weight: 600;
  color: rgba(51, 51, 51, 0.7);
  margin: 0 2em 0.2em;
}

.restaurant__address {
  font-size: 1.1em;
  font-weight: 200;
  margin: 0 2em 1.2em;
  font-style: normal; /* corrects native italic from <address> element */
}

.restaurant__more {
  border-bottom: 3px solid rgba(163, 44, 0, 0.2);
  color: #A32C00;
  display: block;
  font-size: 0.9em;
  font-weight: 200;
  letter-spacing: 0.18em;
  margin: 1em 2em 0;
  padding: 0.2em 0.8em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  align-self: stretch;
}

.restaurant__more:hover,
.restaurant__more:focus {
  border-bottom: 3px solid rgba(20, 91, 143, 0.8);
}

/* ============================================== */
/*               RESTAURANT DETAILS               */
/* ============================================== */
.restaurant-details,
.restaurant-location,
.reviews {
  border-bottom: 1px solid #D9D9D9;
  border-top: 1px solid #FFF;
}

.restaurant-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restaurant-details__name {
  color: #A32C00;
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1.1;
  margin: 1em 0.2em 0.6em;
  max-width: 90%;
  text-align: center;
}

.restaurant-details__picture {
  width: 90%;
  height: 40vmax;
  margin: 0 auto;
}

.restaurant-details__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.restaurant-details__cuisine {
  background-color: #333;
  color: #DDD;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.6em;
  text-transform: uppercase;
  width: 90%;
  margin: 0 0 1em;
  padding: 2px 0;

  display: flex;
  justify-content: center;
  align-self: center;
}

.restaurant-details__address {
  margin: 1em 0;
  font-size: 1.3em;
  line-height: 1.3;
  text-align: center;
  font-style: normal;
}

.opening-hours {
  width: 80%;
  max-width: 20em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.opening-hours__heading {
  font-size: 1.1em;
  margin: 1em 0 0.3em 0;
  color: #333;
}

.opening-hours__table {
  font-size: 1.1em;
  width: 100%;;
  margin-bottom: 3em;
  border-collapse: collapse;
  border: 1px solid #EEE;
}

.opening-hours__day {
  padding: 0.6em 0.5em;
  font-weight: 600;
  color: #757575;
  text-align: left;
}

.opening-hours__time {
  padding: 0.6em 0.2em;
  text-align: center;
}

.opening-hours__row:nth-child(odd) {
  background-color: #EEE;
}

.restaurant-location__map {
  height: 20em;
  width: 100%;
  background-color: #CCC;
}

.reviews {
  padding: 2em 1.5em;
}

.reviews__heading {
  color: #A32C00;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: -1px;
}

.reviews__item {
  background-color: #FFF;
  border: 2px solid #F3F3F3;
  border-radius: 5px;
  display: block;
  list-style: none;
  margin: 0 0 2em;
  overflow: hidden;
  padding: 0.8em 1.2em;
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.reviews__item:last-child {
  margin: 0;
}

.review__author {
  font-size: 0.9em;
  font-weight: 600;
  color: #757575;
  line-height: 1.1;
  flex-grow: 2;
  flex-basis: 12em;
}

.review__date {
  font-size: 0.8em;
  color: #757575;
  width: 100%;
}

.review__rating {
  font-size: 0.95em;
  font-weight: 600;
  color: #3397DB;
  text-align: right;
  flex-grow: 1;
  flex-basis: 5em;
  line-height: 0;
}
.review__comments {
  margin-top: 0.5em;
}

/* ========================================================== */
/*                        MEDIA QUERIES                       */
/* ========================================================== */
@media screen and (min-width: 350px) {
  /* ========================= MAP ========================== */
  /* Make map a bit larger for medium and larger phones */
  .location__map {
    height: 28em;
  }
  /* ================== RESTAURANT FILTERS ================== */
  /* Decrease width of filter options */
  .filter__dropdowns > * {
    width: 12em;
    max-width: 85vw;
    align-self: center;
  }
}

@media screen and (min-width: 425px) and (max-width: 800px) and (max-height: 600px) and (orientation: landscape) {
  /* ========================= MAP ========================== */
  /* Make map a bit smaller for phones in landscape mode */
  .location__map {
    height: 16em;
  }
}

@media screen and (min-width: 425px) {
  /* ================== RESTAURANT FILTERS ================== */
  /* List filters in same row */
  .filter__options {
    flex-direction: row;
    justify-content: space-around;
    padding: 0.6em;
  }

  .filter__heading,
  .filter__dropdowns {
    margin: 0;
    width: auto;
  }

  .filter__heading {
    font-size: 1em;
    margin: 0.8em 0;
    flex: 0 1 auto;
  }

  .filter__dropdowns {
    flex-direction: row;
    justify-content: center;
  }

  .filter__neighborhood,
  .filter__cuisine {
    width: auto;
    flex-grow: 1 0 auto;
    margin: 0.8em 0.2em;
    font-size: 1.2em;
  }
}

@media screen and (min-width: 448px) {
  /* ================== RESTAURANT FILTERS ================== */
  /* Adjust filters position to center of the screen */
  .filter__options {
    justify-content: center;
  }

  .filter__heading {
    padding: 0.5em;
  }
}

@media screen and (min-width: 450px) {
  /* ================== RESTAURANT DETAILS ================== */
  /* Display breadcrumb navigation */
  .breadcrumb {
    display: inline-flex;
    padding: 0.4em 1.2em;
    background-color: #EEE;
  }

  /* Display list without any of the ordered list native styling */
  .breadcrumb__list {
    display: inherit;
    list-style: none;
    font-size: 0.9em;
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* Display list items side by side */
  .breadcrumb__item {
    display: inline;
  }

  /* Add a slash (/) before each list item */
  .breadcrumb__item + li::before {
    padding: 0.6em;
    color: #333;
    content: "/";
  }

  /* Add color to all links inside the list */
  .breadcrumb__link {
    color: #0275D8;
    text-decoration: none;
  }

  /* Add color to links on mouse-over and focus */
  .breadcrumb__link:hover,
  .breadcrumb__link:focus {
    color: #01447E;
    text-decoration: underline;
  }
}

@media screen and (min-width: 452px) and (max-width: 768px) {
  /* ======================== HEADER ======================== */
  /* Make header slightly smaller once heading occupies 1 line
     for smaller screens in landscape mode and tablets */
  .header__nav {
    height: 4.5em;
  }
}

@media screen and (min-width: 463px) {
  /* ================== RESTAURANT FILTERS ================== */
  /* Adjust filter heading to prevent odd behavior */
  .filter__heading {
    padding-right: 1.2em;
  }
}

@media screen and (min-width: 475px) {
  /* ================== RESTAURANT DETAILS ================== */
  /* Place address and opening hours side by side */
  .restaurant-details {
    padding: 1em;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .restaurant-details__cuisine {
    margin-bottom: 2em;
  }

  .restaurant-details__address {
    width: 40%;
    font-size: 1.1em;
    margin-top: 0;
    padding-top: 1.3em;
    text-align: left;
  }

  .opening-hours {
    width: 50%;
  }

  .opening-hours__heading {
    font-size: 0.9em;
    margin-top: 0;
  }

  .opening-hours__table {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 500px) and (max-width: 689px) {
  /* ================== RESTAURANTS LISTING ================= */
  /* Change restaurants card layout (info displayed along the
    x axis) to make better use of space on screens between
    500px and 689px (breakpoint) */
  .restaurants__list {
    padding: 1.5em 0;
    grid-template-columns: repeat(auto-fill, minmax(400px, 90vw));
    grid-auto-rows: 1fr; /* Make all cards the same height */
    justify-content: center;
    align-items: center;
  }

  .restaurant__item {
    
  }

  .restaurant__card {
    padding: 0.6em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.7em;
    grid-template-areas:
      "img name"
      "img neighborhood"
      "img address"
      "img more";
    justify-content: center;
    align-items: center;
  }

  .restaurant__card > * {
    margin: 0;
  }

  .restaurant__picture {
    grid-area: img;
    height: 100%;
  }

  .restaurant__img {
    height: 100%;
    width: 100%;
    border-radius: 9px 0 0 9px;
  }

  .restaurant__name {
    min-height: 0;
    padding: 0.5em 0;
    grid-area: name;
    align-self: end;
  }

  .restaurant__neighborhood {
    grid-area: neighborhood;
  }

  .restaurant__address {
    grid-area: address;
  }

  .restaurant__more {
    padding: 0.7em;
    grid-area: more;
    align-self: center; /* resets to center from flexbox settings above */
  }
}

@media screen and (min-width: 500px) {
  /* Make both select boxes same width */
  .filter__neighborhood,
  .filter__cuisine {
    width: 12em;
  }
}

@media screen and (min-width: 600px) {
  /* ================== RESTAURANT FILTERS ================== */
  /* Pull filters to the right and adjust font-size */
  .filter__options {
    justify-content: flex-end;
  }

  .filter__heading {
    font-size: 1em;
  }

  .filter__neighborhood,
  .filter__cuisine {
    font-size: 1em;
  }
}

@media screen and (min-width: 600px) and (max-width: 689px) {
  /* ================== RESTAURANTS LISTING ================= */
  /* Adjust padding/spacing and font-size */
  .restaurant__card {
    padding: 0.8em;
    grid-row-gap: 0.4em;
  }

  .restaurant__name {
    font-size: 1.5em;
    align-self: center;
  }

  .restaurant__neighborhood {
    font-size: 1em;
  }

  .restaurant__address {
    font-size: 1em;
    padding: 0.3em 0;
  }

  .restaurant__more {
    font-size: 1em;
  }
}

@media screen and (min-width: 650px) {
  /* ================== RESTAURANT DETAILS ================== */
  /* Place restaurant details and map side by side */
  .restaurant__main {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 0;
    grid-auto-flow: row;
  }

  .restaurant-details,
  .restaurant-location {
    border: 0;
  }

  .restaurant-details {
    grid-column: 1 / span 1;
    padding: 0;

    flex-direction: column;
    align-items: center;
  }

  .restaurant-details__name {
    margin-top: 0.8em;
  }

  .restaurant-details__cuisine {
    margin-bottom: 1em;
  }

  .restaurant-details__address {
    width: 90%;
    text-align: center;
    margin-bottom: 2em;
  }

  .opening-hours {
    width: 80%;
    max-width: 16em;
  }

  .restaurant-location {
    grid-column: 2 / span 1;
  }

  .restaurant-location__map {
    height: 100%;
  }

  .reviews {
    grid-column: 1 / span 2;
    border-top: 1px solid #D9D9D9;
  }

  .reviews__heading {
    grid-column: 1 / span 2;
  }

  .reviews__list {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 35em));
    grid-gap: 2em;
    grid-auto-flow: row;
    justify-content: center;
  }

  .reviews__item {
    grid-column: span 1;
    margin-bottom: 0.5em;
  }
}

@media screen and (min-width: 800px) {
  /* ================== RESTAURANT DETAILS ================== */
  /* Increase padding for medium and larger screens */
  .restaurant-details {
    padding: 2em 4em;
  }

  .restaurant-details__picture {
    height: 45vmin;
  }
}

@media screen and (min-width: 900px) {
  /* Increase global font-size based on root global font-size of 14px */
  body {
    font-size: calc(14px * 1.1);
  }

  .restaurants__list {
    grid-template-columns: repeat(auto-fill, minmax(16em, 19em));
    justify-content: space-evenly;
    grid-row-gap: 3em;
  }
}

@media screen and (min-width: 1200px) {
  /* Increase global font-size based on root global font-size of 14px */
  body {
    font-size: calc(14px * 1.2);
  }

  /* ================== RESTAURANT DETAILS ================== */
  /* Display address and opening hours side by side */
  .restaurant-details {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
  }

  .restaurant-details__address {
    width: 40%;
    text-align: left;
  }

  .opening-hours {
    width: 50%;
    padding-top: 1em;
  }
}

@media screen and (min-width: 1400px) {
  /* ================== RESTAURANT DETAILS ================== */
  .restaurant-details {
    justify-content: center;
  }
}

@media screen and (min-width: 1800px) {
  /* Increase global font-size based on root global font-size of 14px */
  body {
    font-size: calc(14px * 1.4);
  }
}
